.projects {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction:column-reverse;
}

.project {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.card{
  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
  }
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
  transform: translateZ(0);
  //width: 400px;
  width: 500px;
  height: 260px;
  //height: 200px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  -webkit-box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px -4px rgba(0,0,0,0.75);
  //box-shadow: 0 0 5px rgba(0,0,0,.1);
  position: relative;
}

a.card-content{
  text-decoration: none;
  width: 100%;
  height: 100%;
  //display: block;
  margin: auto;
  text-align:center;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    transform: translateZ(100px);
    font-size: 3rem;
    margin: 0;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 0 rgba(255,255,255,1);
    font-family:'Poppins', sans-serif;;
  }
  p {
    color: #fff;
    transform: translateZ(50px);
    font-size: 1.2rem;
    font-weight: 300;
    font-family:'Poppins', sans-serif;;
    text-shadow: 0 0 0 rgba(255,255,255,1);
  }
}

.card-left {
  margin-right: 200px;
}

.card-right {
  margin-left: 200px;
}


@media screen and (max-width: 430px) {
  .project,.project-big {
    height: 85vh;
  }

  .card-right {
    margin-left: 0;
  }
  .card-left {
    margin-right: 0;
  }
  .card {
    max-width: 90%;
  }
}

@media screen and (max-width: 370px) {
  .card-content {
    h4 {
      font-size: 2.3rem;
    }
  }
}