.project {
  display: flex;
  flex-direction: column;
}

.project-title h1 {
  color: #1B263E;
  font-size: 4rem;
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
}

.project-information {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-heading-image {
  min-height: 300px;
  max-height: 50vh;
  width: 100%;
  margin-top: 150px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 0 25px 49px -2px rgba(0, 0, 0, 0.22);
}

.project-text {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
}
.project-text h2 {
  font-size: 1.1rem;
}
.project-text p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 200%;
  word-spacing: 2px;
  letter-spacing: 0.3px;
}

.project-image-title {
  justify-content: flex-start;
}
.project-image-title h2 {
  font-size: 1rem;
}

.project-image {
  justify-self: center;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-image img {
  margin-top: 10px;
  max-height: 80%;
  max-width: 80%;
}

.project-description {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.project-description-section {
  display: flex;
  flex-direction: column;
  z-index: 10000;
}
.project-description-section p {
  font-size: 0.8rem;
  color: #adadad;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.project-description-section span {
  font-size: 1rem;
  line-height: 1.5;
  color: #1B263B;
  font-family: "Poppins", sans-serif;
}
.project-description-section span a {
  font-family: "Poppins", sans-serif;
  color: #1b263b;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.project-description-section span a:hover {
  color: #778DA9;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.page-speed-row {
  margin: 1rem 0;
  justify-content: flex-start;
}

.project-optimization-title {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.margin-Y-big {
  margin: 3rem 0 4rem 0;
}

span.rating-A {
  color: #23ab11;
}

span.rating-B {
  color: #71bb30;
}

span.rating-C {
  color: #cbb708;
}

@media screen and (max-width: 430px) {
  .project-description {
    flex-direction: column;
  }

  .project-description-section {
    margin: 1rem 0;
  }

  .project-text {
    margin: 1rem 0;
  }

  .margin-Y-big {
    margin: 0 0 4rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
