.projects {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.project {
  display: flex;
  flex-direction: row;
  width: calc(50% - 20px);
  margin: 15px 10px 15px 10px;
  align-items: center;
  justify-content: center;
}

.project-big {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  width: calc(75%);
  align-items: center;
  justify-content: center;
}

.card {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
  transform: translateZ(0);
  width: 100%;
  min-height: 250px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  -webkit-box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.75);
  position: relative;
  perspective: 1000px;
  perspective-origin: center;
}
.card:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.project-big .card {
  min-height: 350px;
}

.project-big .card-content {
  min-height: 40vh;
}

.card-content {
  text-decoration: none;
  min-height: 40vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  position: relative;
}
.card-content h4 {
  transform: translateZ(100px);
  font-size: 3rem;
  margin: 0;
  line-height: 1;
  color: #fff;
  pointer-events: none;
  text-shadow: 0 0 0 white;
  font-family: "Poppins", sans-serif;
}
.card-content p {
  pointer-events: none;
  color: #fff;
  transform: translateZ(50px);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 0 white;
}

@media screen and (max-width: 430px) {
  .project, .project-big {
    height: 85vh;
  }

  .card-right {
    margin-left: 0;
  }

  .card-left {
    margin-right: 0;
  }

  .card {
    max-width: 100%;
  }

  .project {
    width: 90%;
  }

  .project-big {
    width: 90%;
  }

  .card-content {
    min-height: 1px;
  }
  .card-content h4 {
    font-size: 1.5rem;
  }
  .card-content p {
    font-size: 0.9rem;
  }

  .centered-banner h2 {
    text-align: center;
    font-size: 4rem;
  }

  .navigation-title a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 370px) {
  .card-content h4 {
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
