.about-image {
  display: flex;
  flex: 6 0 0;
  padding: 15px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-image figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.about-image figure img {
  max-width: calc(100% - 30px);
}
.about-image figure figcaption {
  text-align: center;
  padding: 10px 0;
}

.caption {
  color: #ADADAD;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto 10px;
  text-align: center;
}

.about {
  display: flex;
  flex: 4 0 0;
  margin: 0 0 0 auto;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.about-text {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-text h2 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0;
  color: #01f;
  font-family: "Poppins", sans-serif;
}
.about-text p {
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  color: #1B263B;
  text-align: left;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  line-height: 1.5;
  z-index: 100;
  font-size: 1.1rem;
  font-weight: 400;
}
.about-text p a {
  font-family: "Poppins", sans-serif;
  color: #1b263b;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.about-text p a:hover {
  color: #778DA9;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.about-skills {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.skill-section-heading {
  flex: 1 0 0;
  color: #ADADAD;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin: 0 auto 10px;
  line-height: 1.5;
}

.skill-section-text {
  flex: 1 0 0;
  z-index: 1000;
}
.skill-section-text p {
  line-height: 1.5;
  color: #0D1B2A;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: block;
}
.skill-section-text p a {
  line-height: 1.5;
  color: #0D1B2A;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: block;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.skill-section-text p a:hover {
  color: #778DA9;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

@media screen and (max-width: 430px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-image {
    flex: none;
    margin-bottom: 70px;
  }

  .about {
    flex: none;
    width: 85%;
    margin: 50px auto 0 auto;
  }

  .about-text {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
